
div.ic-Login__content {
    border-radius: 12px;
}

.ic-Login__content > .ic-Login-footer > p,
.ic-Login__content > .ic-Login-footer > div > a#acceptable_use_policy_link,
.ic-Login__content > .ic-Login-footer > div > a#accessibility_link,
.ic-Login__content > .ic-Login-footer > div > a#digital_accessibility_link,
.ic-Login__content > .ic-Login-footer > div > a#privacy_policy_link,
.ic-Login__content > .ic-Login-footer > p > a#digital_accessibility_link,
.ic-Login__content > .ic-Login-footer > p > a#privacy_policy_link,
.ic-Login__content > .ic-Login-footer > p > a#acceptable_use_policy_link,
.ic-Login__content > .ic-Login-footer > p > a#accessibility_link {
    color: white;
}

.hu-help-icon {
    float: right;
}

.hu-hkey-login {
    padding-top: .5em;
    font-weight: bold;
    color: black;
    font-size: 1.25em;
}

.hu-hkey-login-link {
    border-bottom: 1px solid black;
}

.hu-hkey-help {
    display: none;
    color: black;
}

.hu-hkey-login a:hover {
    text-decoration: none;
}

.hu-hkey-logo {
    height: .75em;
    padding-left: 4px;
    vertical-align: baseline;
}

.hu-guest-login {
    padding-bottom: .5em;
    font-weight: bold;
    color: black;
    font-size: 1.25em;
}

.hu-guest-login-link {
    border-bottom: 1px solid black;
}

.hu-guest-help {
    display: none;
    color: black;
}

.hu-guest-login a:hover {
    text-decoration: none;
}

.other-logins {
    border-top: 1px solid black;
    color: black;
    font-weight: bold;
    font-size: 1.25em;
    padding-top: .5em;
}

.or {
    color: black;
    font-weight: bold;
    font-size: 1.25em;
}

.ic-Login__container footer {
    font-size: .75em;
    padding-top: 1em;
}

.mobileLogin-Header {
    z-index: 1;
    background-image: url(https://tlt-static-prod.s3.us-east-1.amazonaws.com/canvas_exed/login_screen_login_logo.png) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px 108px;
    min-height: 108px;
}
